/* I only really wanted to change the font, so I removed the edits to the 
    to the background to keep the shiny style
*/

/* Get a fancy font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

/* Change header text to imported font */
h2 {
  font-family: 'Yusei Magic', sans-serif;
}
